@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #e5e5e5;
}

.titleName{
    margin: 20px;
    font-family: 'Lobster', cursive;
}

.painel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus{
    margin: 20px;
    padding: 20px;
    background-color: #F03648;
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}
.break{
    margin: 20px;
    padding: 20px;
    background-color: #45B6F3;
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.timer{
    font-size: 90px;
}

.focusButton{
    margin-top: 7px;
    padding: 10px 40px;
    font-size: 30px;
    color: #F03648;
    background-color: white;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0 5px rgba(102,102,102,0.671);
}
.breakButton{
    margin-top: 7px;
    padding: 10px 40px;
    font-size: 30px;
    color: #45B6F3;
    background-color: white;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0 5px rgba(102,102,102,0.671);
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: translateY(3px);
}

.slider{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider input{
  appearance: none;
  width: 10%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider input:hover{
    opacity: 1;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2d6380;
    cursor: pointer;
}
.slider input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2d6380;
    cursor: pointer;
}

.sliderButton{
    margin-top: 7px;
    padding: 5px 10px;
    font-size: 15px;
    color: #2d6380;
    background-color: white;
    border-style: none;
    border-radius: 1px;
    box-shadow: 0 2px rgba(102,102,102,0.671);
}

